:root {
  
  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(0, 1%, 18%, 0.251) 0%, 
    hsla(0, 4%, 11%, 0) 100%
  ), hsla(0, 100%, 6%, 0.938);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    hsl(0, 100%, 50%) 0%, 
    hsla(0, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    hsla(0, 100%, 71%, 0.251) 0%, 
    hsla(0, 100%, 68%, 0) 59.86%
  ), hsl(360, 100%, 6%);
  --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to right, 
    hsl(10, 94%, 86%), 
    hsl(360, 100%, 6%)
  );

  /* solid */



  --jet: hsl(360, 100%, 6%);
  --onyx: hsl(360, 100%, 6%);
  --eerie-black-1: hsl(360, 100%, 6%);
  --eerie-black-2: hsl(3600, 100%, 97%);
  --smoky-black: hsl(360, 100%, 100%); /*BAckground*/
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 0%);
  --orange-yellow-crayola: hsl(0, 0%, 100%); /*ion-icon*/
  --vegas-gold: hsl(0, 100%, 50%); 
  --light-gray: #2d9999; 
  --light-gray-70: #2d9999;
  --bittersweet-shimmer: hsl(0, 100%, 50%);

 
  --ff-poppins: 'Poppins', sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 410;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */
  --shadow-2: 0 16px 30px hsla(0, 100%, 50%, 0.399);
  --shadow-5: 0 24px 80px hsl(0, 100%, 50%, 0.399);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a { text-decoration: none; }


li { list-style: none; }

img, ion-icon, a, button, time, span { display: block; }

button {
font: inherit;
background: none;
border: none;
text-align: left;
cursor: pointer;
}

input, textarea {
display: block;
width: 100%;
background: none;
font: inherit;
}

::selection {
background: var(--orange-yellow-crayola);
color: var(--smoky-black);
}

:focus { outline-color: var(--orange-yellow-crayola); }

html { 
font-family: var(--ff-poppins); 
scroll-behavior:smooth; 
} 


body { background: var(--smoky-black); }



.separator {
  width: 100%;
  height: 2px;
  background: var(--jet);
  margin: 16px 0;
}
.sidebar, article {
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;

  z-index: 1;
}

.sidebar{
  max-width:900%;
}
.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  z-index: 1;
}
.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}
article { display: none; }

article.active {
display: block;
animation: fade 0.5s ease backwards;
}

@keyframes fade {
0% { opacity: 0; }
100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
color: var(--white-2);
text-transform: capitalize;
}

.h2 { font-size: var(--fs-1); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.h5 {
font-size: var(--fs-7);
font-weight: var(--fw-500);
color:var(--eerie-black-2);
}

.article-title {
position: relative;
padding-bottom: 7px;
}

article{
margin-bottom: 9px;
}
.article-title::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 90px;
height: 3px;
background: var(--text-gradient-yellow);
border-radius: 3px;
}

.content-card {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;
}

.content-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

/*-----------------------------------*\
#MAIN
\*-----------------------------------*/

main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}  

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
  margin-bottom: 15px;
  max-height: 112px;
  overflow: hidden;
  transition: var(--transition-2);
}

.sidebar.active { max-height: 405px; }

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.avatar-box img{
  
    border-radius: 50%;
  
}

.info-content .name {
  color: var(--white-2);
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
}

.info-content .title {
  color: var(--white-1);
  background: var(--onyx);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 3px 12px;
  border-radius: 8px;
}

.info_more-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 20px;
  font-size: 13px;
  color: var(--eerie-black-2);
  background: var(--border-gradient-onyx);
  padding: 10px;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  z-index: 1;
}

.info_more-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--bg-gradient-jet);
  transition: var(--transition-1);
  z-index: -1;
}
.info_more-btn:hover,
.info_more-btn:focus { background: var(--bg-gradient-yellow-1); }

.info_more-btn:hover::before,
.info_more-btn:focus::before { background: var(--bg-gradient-yellow-2); }

.info_more-btn span { display: none; }

.sidebar-info_more {
opacity: 0;
visibility: hidden;
transition: var(--transition-2);
}
.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
}
.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}

.contact-title {
  color: var(--onyx);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
  font-weight: bold;
}

.contact-info :is(.contact-link, time, address) {
  color: var(--light-gray-70);
  font-size: var(--fs-7);
  
}

.contact-info address { font-style: normal; }

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
  
}
.social-item .social-link {
  color: var(--light-gray-70);
  font-size: 18px;
}


.social-item .social-link:hover { color: var(--onyx); }

/*-----------------------------------*\
#NAVBAR
\*-----------------------------------*/

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background:hsl(360, 100%, 6%);
  backdrop-filter: blur(10px);
  border: 1px solid var(--jet);
  border-radius: 12px 12px 0 0;
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.navbar-link {
  color: var(--eerie-black-2);
  font-size: var(--fs-8);
  padding: 20px 7px;
  transition: color var(--transition-1);
}

a:hover,
a:focus { color: var(--orange-yellow-crayola); }


/*--------------#ABOUT---------------------*/

.about .article-title { margin-bottom: 15px; }

.about-text {
color: var(--light-gray);
font-size: var(--fs-6);
font-weight: var(--fw-300);
line-height: 1.6;
}

.about-text p { margin-bottom: 15px; }
/*-----------------#RESUME------------------*/

.article-title { margin-bottom: 30px; }


/**
* education and experience 
*/

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
display: flex;
align-items: center;
gap: 15px;
margin-bottom: 25px;
}

.timeline-list {
font-size: var(--fs-6);
margin-left: 45px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
font-size: var(--fs-6);
line-height: 1.3;
margin-bottom: 7px;
}

.timeline-list span {
color: var(--vegas-gold);
font-weight: var(--fw-400);
line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
content: "";
position: absolute;
top: -25px;
left: -30px;
width: 1px;
height: calc(30px);
background: var(--jet);
}

.timeline-item::after {
content: "";
position: absolute;
top: 5px;
left: -33px;
height: 6px;
width: 6px;
background: var(--text-gradient-yellow);
border-radius: 50%;
box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
color: var(--light-gray);
font-weight: var(--fw-300);
line-height: 1.6;
}


/**
* skills 
*/



.skills-list { padding: 20px; }


.skills-item:not(:last-child) { margin-bottom: 15px; }

.skill .title-wrapper {
 display: flex;
 align-items: center;
 gap: 5px;
 margin-bottom: 8px;
}

.skill .title-wrapper data {
 color: var(--light-gray);
 font-size: var(--fs-7);
 font-weight: var(--fw-300);
}

.skill-progress-bg {
 background:var(--eerie-black-1);
 width: 100%;
 height: 8px;
 border-radius: 10px;
}

.skill-progress-fill {
 background:  var(--light-gray);
 height: 100%;
 border-radius: inherit;
animation: fillAnimation 4s ease-in-out infinite;



}
@keyframes fillAnimation {
50% {
      width: 0;
  }
  50% {
    width: 0;
}
}



/*-----------------------------------*\
#PORTFOLIO
\*-----------------------------------*/

.project-list {
display: grid;
grid-template-columns: 1fr;
gap: 30px;
margin-bottom: 10px;
}

.project-item { display: none; }

.project-item.active {
display: block;
animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
0% { transform: scale(0.5); }
100% { transform: scale(1); }
}

.project-item > a { width: 100%; }

.project-img {
position: relative;
width: 100%;
height: 200px;
border-radius: 16px;
overflow: hidden;
margin-bottom: 15px;
}

.project-img::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: transparent;
z-index: 1;
transition: var(--transition-1);
}

.project-item > a:hover .project-img::before { background: hsla(0, 0%, 0%, 0.5); }

.project-item-icon-box {
--scale: 0.8;

background: var(--onyx);
color: var(--eerie-black-2);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(var(--scale));
font-size: 20px;
padding: 18px;
border-radius: 12px;
opacity: 0;
z-index: 1;
transition: var(--transition-1);
}

.project-item > a:hover .project-item-icon-box {
--scale: 1;
opacity: 1;
}

.project-item-icon-box ion-icon { --ionicon-stroke-width: 50px; }

.project-img img {
width: 100%;
height: 100%;
object-fit: cover;
transition: var(--transition-1);  
filter: blur(1px);

}





.project-item > a:hover img { transform: scale(1.1); }

.project-title,
.project-category { margin-left: 10px; }

.project-title {
color: var(--white-2);
font-size: var(--fs-5);
font-weight: var(--fw-400);
text-transform: capitalize;
line-height: 1.3;
}

.project-category {
color: var(--light-gray-70);
font-size: var(--fs-6);
font-weight: var(--fw-300);
}

#blur {
  
  filter: blur(7px);
}

/*-----------------------------------*\
#awards
\*-----------------------------------*/


.award-list {
display: grid;
grid-template-columns: 1fr;
gap: 30px;
margin-bottom: 10px;
}

.award-item { display: none; }

.award-item.active {
display: block;
animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
0% { transform: scale(0.5); }
100% { transform: scale(1); }
}

.award-item > a { width: 100%; }

.award-img {
position: relative;
width: 100%;
height: 200px;
border-radius: 16px;
overflow: hidden;
margin-bottom: 15px;
}

.award-img::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: transparent;
z-index: 1;
transition: var(--transition-1);
}

.award-item > a:hover .award-img::before { background: hsla(0, 0%, 0%, 0.5); }

.award-item-icon-box {
--scale: 0.8;

background: var(--onyx);
color: var(--eerie-black-2);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(var(--scale));
font-size: 20px;
padding: 18px;
border-radius: 12px;
opacity: 0;
z-index: 1;
transition: var(--transition-1);
}

.award-item > a:hover .award-item-icon-box {
--scale: 1;
opacity: 1;
}

.award-item-icon-box ion-icon { --ionicon-stroke-width: 50px; }

.award-img img {
width: 100%;
height: 100%;
object-fit: cover;
transition: var(--transition-1);
filter: blur(1px);
}

.award-item > a:hover img { transform: scale(1.1); }

.award-title,
.award-category { margin-left: 10px; 
  text-align: justify;
}

.award-title {
color: var(--white-2);
font-size: var(--fs-5);
font-weight: var(--fw-400);
text-transform: capitalize;
line-height: 1.3;
}

.award-category {
color: var(--light-gray-70);
font-size: var(--fs-6);
font-weight: var(--fw-300);
}

#blur {

  -webkit-filter: blur(4px);  
  filter: blur(9px);
}

#bullets{
  list-style-type: style type disc;
}


/*-----------------------------------*\
#CONTACT
\*-----------------------------------*/


.contact-form { margin-bottom: 10px; }

.form-title { margin-bottom: 20px; }

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: var(--white-2);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  padding: 13px 20px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  outline: none;
}

.form-input::placeholder { font-weight: var(--fw-500); }

.form-input:focus { border-color: var(--orange-yellow-crayola); }

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer { display: none; }

.form-input:focus:invalid { border-color: var(--bittersweet-shimmer); }

.form-btn {
  position: relative;
  width: 100%;
  background: var(--border-gradient-onyx);
  color: var(--orange-yellow-crayola);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: var(--fs-6);
  text-transform: capitalize;
  z-index: 1;
  transition: var(--transition-1);
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}

.form-btn ion-icon { font-size: 16px; }

.form-btn:hover { background: var(--bg-gradient-yellow-1); }

.form-btn:hover::before { background: var(--bg-gradient-yellow-2); }

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-btn:disabled:hover { background: var(--border-gradient-onyx); }

.form-btn:disabled:hover::before { background: var(--bg-gradient-jet); }


/*-----------------------------------*\
#RESPONSIVE
\*-----------------------------------*/

/**
* responsive larger than 450px screen
*/

@media (min-width: 450px) {
   /**
 * #PORTFOLIO
 */

.project-img{ height: auto; }
.award-img{ height: auto; }
}
.navbar{
border: 1px solid hsl(0, 34%, 84%);
}  

.sidebar, article {
  box-shadow: var(--shadow-5);
}
.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
  margin-top: 10px;
}

/**
* responsive larger than 580px screen
*/

@media (min-width: 580px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 26px;
    --fs-4: 18px;
    --fs-6: 15px;
    --fs-7: 15px;
    --fs-8: 12px;

  }



  /**
   * #REUSED STYLE
   */

  .sidebar, article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
    box-shadow: var(--shadow-5);
  }

  .article-title {
    font-weight: var(--fw-600);
    padding-bottom: 15px;
  }

  .article-title::after {
    width: 130px;
    height: 5px;
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }



  /**
   * #MAIN
   */

  main {
    margin-top: 60px;
    margin-bottom: 100px;
  }



  /**
   * #SIDEBAR
   */

  .sidebar {
    max-height: 180px;
    margin-bottom: 30px;
  }
  .social-list {
    margin-top: 20px;
  }
  

  .sidebar.active { max-height: 584px; }

  .sidebar-info { gap: 25px; }

  .avatar-box { border-radius: 30px; }

  .avatar-box img { width: 120px; }

  .info-content .name { margin-bottom: 15px; }

  .info-content .title { padding: 5px 18px; }

  .info_more-btn {
    top: -30px;
    right: -30px;
    padding: 10px 15px;
  }

  .info_more-btn span {
    display: block;
    font-size: var(--fs-8);
  }

  .info_more-btn ion-icon { display: none; }

  .separator { margin: 32px 0; }

  .contacts-list { gap: 20px; }

  .contact-info {
    max-width: calc(100% - 64px);
    width: calc(100% - 64px);
  }



  /**
   * #NAVBAR
   */

  .navbar { border-radius: 20px 20px 0 0; }

  .navbar-list { gap: 20px; }

  .navbar-link { --fs-8: 14px; }

  .navbar{
    border: 1px solid hsl(0, 34%, 84%);
  }  

  /**
   * #ABOUT
   */

  .about .article-title { margin-bottom: 20px; }

  .about-text { margin-bottom: 40px; }


  /**
   * #RESUME
   */

  .timeline-list { margin-left: 65px; }

  .timeline-item:not(:last-child)::before { left: -40px; }

  .timeline-item::after {
    height: 8px;
    width: 8px;
    left: -43px;
  }

  .skills-item:not(:last-child) { margin-bottom: 25px; }



  /**
   * #PORTFOLIO
   */

  .project-img { border-radius: 16px; }

  /**
   * #award
   */

  /**
   * #CONTACT
   */
   .award-img { border-radius: 16px; }

  .mapbox {
    height: 380px;
    border-radius: 18px;
  }

  .input-wrapper {
    gap: 30px;
    margin-bottom: 30px;
  }

  .form-input { padding: 15px 20px; }

  textarea.form-input { margin-bottom: 30px; }

  .form-btn {
    --fs-6: 16px;
    padding: 16px 20px;
  }

  .form-btn ion-icon { font-size: 18px; }

}

/**
* responsive larger than 768px screen
*/

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .sidebar, article {
    width: 700px;
    box-shadow: var(--shadow-5);
   }

  .has-scrollbar::-webkit-scrollbar-button { width: 100px; }



  /**
   * SIDEBAR
   */

  .contacts-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }

 

  /**
   * NAVBAR
   */

  .navbar-link { --fs-8: 15px; }
  .navbar{
    border: 1px solid hsl(0, 34%, 84%);
  }  


  /**
   * PORTFOLIO
   */

  .article-title { padding-bottom: 20px; }

  .filter-select-box { display: none; }

  .filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 5px;
    margin-bottom: 30px;
  }

  .filter-item button {
    color: var(--light-gray);
    font-size: var(--fs-5);
    transition: var(--transition-1);
  }

  .filter-item button:hover { color: var(--light-gray-70); }

  .filter-item button.active { color: var(--orange-yellow-crayola); }

  /* portfolio*/

  .project-list{ grid-template-columns: 1fr 1fr; }

  #height{ height: 230px; }
 
/* award*/
  .award-list{ grid-template-columns: 1fr 1fr; }

  /**
   * CONTACT
   */

  .input-wrapper { grid-template-columns: 1fr 1fr; }

  .form-btn {
    width: max-content;
    margin-left: auto;
  }
  
}

/**
* responsive larger than 1024px screen
*/

@media (min-width: 1024px) {
  /**
   * REUSED STYLE
   */

  .sidebar, article {
    width: 950px;
  }



  /**
   * MAIN 
   */

  main { margin-bottom: 60px; }

  .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }



  /**
   * NAVBAR
   */

  .navbar-list {
    gap: 30px;
    padding: 0 20px;
  }

  .navbar-link { font-weight: var(--fw-500); }

  /**
   * PORTFOLIO
   */

  .project-list { grid-template-columns: repeat(3, 1fr); }

  #height{ height: 210px; }


  /* award*/
  .award-list { grid-template-columns: repeat(3, 1fr); }

}

